body{
    background-color: #f3e2c7;
}

h1{
    color: #c94c00;
    text-align: center;
}

h3{
    color: #c94c00;
}

li{
    color:#c94c00;
    line-height: 28px;
}

.lista{
    column-count: 3;     
    column-gap: 40px; 
}

button{
    background: #c94c00;
    border-radius: 15px;
    border-color: #762f04;
    margin-top: 40px;
    display: flex;
}

.botao-centro {
    display: flex;
    justify-content: center;
}

a{
    color: #f3e2c7;
    text-decoration: none;
}
